global
    debug

default
    log global
    mode http
    timeout connect 5000
    timeout client 5000
    timeout server 5000

frontend main
    bind: *:80
    default_backend app

backend app
    balance roundrobin
    mode http
    server grafana1 localhost:3000 check
    server grafana2 localhost:3000 check