global:
  scrape_interval: 20s
  scrape_timeout: 10s

rule_files:
  - alert.yml

scrape_configs:
  - job_name: services
    metrics_path: /metrics
    static_configs:
      - targets:
          - "prometheus:9090"
          - "prometheus_1:9090"
          - "node-exporter:9100"
          - "node-exporter_1:9100"
